body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.btn {
    box-sizing: 25px;
    text-decoration-color: grey;
    background-color: red;
    font-weight: bold;
}